{% extends 'base.html' %} {% block content %}
<div class="navbar">
  <div class="logo">
    <div class="logo">
      <h1>Sparrowfy</h1>
    </div>
  </div>
  <ul>
    <li>
      <i class="fa-sharp fa-solid fa-house" style="color: #7b7474"></i>
      <h6>Home</h6>
    </li>
    <li>
      <i class="fa-solid fa-magnifying-glass" style="color: #7b7474"></i>
      <h6>Search</h6>
    </li>
    <li>
      <i class="fa-sharp fa-solid fa-bookmark" style="color: #7b7474"></i>
      <h6>Your Library</h6>
    </li>
  </ul>
</div>
<div class="main">
    <div class="searchbar">
        <input class="searchBar" placeholder="   Search for song" type="text" name="search" id="searchBar" required="">
        <a href=""><i class="fa-solid fa-magnifying-glass" style="color: #7b7474"></i></a>
    </div>
    <div class="theme">
        <h2>Hot</h2>
        <div class="cardContainer">
    <div class="card c1">
        <div class="albumcover">
            <img class="albumimg" src="https://i.ytimg.com/vi/J3DahMkR5Sg/hq720.jpg?sqp=-oaymwEjCOgCEMoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&amp;rs=AOn4CLCNg7eISQ4qEYdMj3IipdYqPc9d2A" alt="" srcset="">
            <div class="albumplay" onclick='playSong("{{ forloop.counter0 }}","{{ playlist.2 }}")'><img
                    src="https://cdn.discordapp.com/attachments/768083738848133130/769476261181128734/image_1.png"
                    alt=""></img></div>
        </div>
        <span class="label albumtitle bond-to-two-lines">MOHA &amp; Irma &amp; MEQQ - ily (Magic Cover Release)</span>
        <span class="label albumauthor bond-to-two-lines">By Magic Music</span>
    </div>
    <div class="card c1">
        <div class="albumcover">
            <img class="albumimg" src="https://i.ytimg.com/vi/J3DahMkR5Sg/hq720.jpg?sqp=-oaymwEjCOgCEMoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&amp;rs=AOn4CLCNg7eISQ4qEYdMj3IipdYqPc9d2A" alt="" srcset="">
            <div class="albumplay" onclick='playSong("{{ forloop.counter0 }}","{{ playlist.2 }}")'><img
                    src="https://cdn.discordapp.com/attachments/768083738848133130/769476261181128734/image_1.png"
                    alt=""></img></div>
        </div>
        <span class="label albumtitle bond-to-two-lines">MOHA &amp; Irma &amp; MEQQ - ily (Magic Cover Release)</span>
        <span class="label albumauthor bond-to-two-lines">By Magic Music</span>
    </div>
    <div class="card c1">
        <div class="albumcover">
            <img class="albumimg" src="https://i.ytimg.com/vi/J3DahMkR5Sg/hq720.jpg?sqp=-oaymwEjCOgCEMoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&amp;rs=AOn4CLCNg7eISQ4qEYdMj3IipdYqPc9d2A" alt="" srcset="">
            <div class="albumplay" onclick='playSong("{{ forloop.counter0 }}","{{ playlist.2 }}")'><img
                    src="https://cdn.discordapp.com/attachments/768083738848133130/769476261181128734/image_1.png"
                    alt=""></img></div>
        </div>
        <span class="label albumtitle bond-to-two-lines">MOHA &amp; Irma &amp; MEQQ - ily (Magic Cover Release)</span>
        <span class="label albumauthor bond-to-two-lines">By Magic Music</span>
    </div>
    <div class="card c1">
        <div class="albumcover">
            <img class="albumimg" src="https://i.ytimg.com/vi/J3DahMkR5Sg/hq720.jpg?sqp=-oaymwEjCOgCEMoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&amp;rs=AOn4CLCNg7eISQ4qEYdMj3IipdYqPc9d2A" alt="" srcset="">
            <div class="albumplay" onclick='playSong("{{ forloop.counter0 }}","{{ playlist.2 }}")'><img
                    src="https://cdn.discordapp.com/attachments/768083738848133130/769476261181128734/image_1.png"
                    alt=""></img></div>
        </div>
        <span class="label albumtitle bond-to-two-lines">MOHA &amp; Irma &amp; MEQQ - ily (Magic Cover Release)</span>
        <span class="label albumauthor bond-to-two-lines">By Magic Music</span>
    </div>
        </div>
    </div>

    <div class="theme">
        <h2>Hot</h2>
        <div class="cardContainer">
    <div class="card c1">
        <div class="albumcover">
            <img class="albumimg" src="https://i.ytimg.com/vi/J3DahMkR5Sg/hq720.jpg?sqp=-oaymwEjCOgCEMoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&amp;rs=AOn4CLCNg7eISQ4qEYdMj3IipdYqPc9d2A" alt="" srcset="">
            <div class="albumplay" onclick='playSong("{{ forloop.counter0 }}","{{ playlist.2 }}")'><img
                    src="https://cdn.discordapp.com/attachments/768083738848133130/769476261181128734/image_1.png"
                    alt=""></img></div>
        </div>
        <span class="label albumtitle bond-to-two-lines">MOHA &amp; Irma &amp; MEQQ - ily (Magic Cover Release)</span>
        <span class="label albumauthor bond-to-two-lines">By Magic Music</span>
    </div>
    <div class="card c1">
        <div class="albumcover">
            <img class="albumimg" src="https://i.ytimg.com/vi/J3DahMkR5Sg/hq720.jpg?sqp=-oaymwEjCOgCEMoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&amp;rs=AOn4CLCNg7eISQ4qEYdMj3IipdYqPc9d2A" alt="" srcset="">
            <div class="albumplay" onclick='playSong("{{ forloop.counter0 }}","{{ playlist.2 }}")'><img
                    src="https://cdn.discordapp.com/attachments/768083738848133130/769476261181128734/image_1.png"
                    alt=""></img></div>
        </div>
        <span class="label albumtitle bond-to-two-lines">MOHA &amp; Irma &amp; MEQQ - ily (Magic Cover Release)</span>
        <span class="label albumauthor bond-to-two-lines">By Magic Music</span>
    </div>
    <div class="card c1">
        <div class="albumcover">
            <img class="albumimg" src="https://i.ytimg.com/vi/J3DahMkR5Sg/hq720.jpg?sqp=-oaymwEjCOgCEMoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&amp;rs=AOn4CLCNg7eISQ4qEYdMj3IipdYqPc9d2A" alt="" srcset="">
            <div class="albumplay" onclick='playSong("{{ forloop.counter0 }}","{{ playlist.2 }}")'><img
                    src="https://cdn.discordapp.com/attachments/768083738848133130/769476261181128734/image_1.png"
                    alt=""></img></div>
        </div>
        <span class="label albumtitle bond-to-two-lines">MOHA &amp; Irma &amp; MEQQ - ily (Magic Cover Release)</span>
        <span class="label albumauthor bond-to-two-lines">By Magic Music</span>
    </div>
    <div class="card c1">
        <div class="albumcover">
            <img class="albumimg" src="https://i.ytimg.com/vi/J3DahMkR5Sg/hq720.jpg?sqp=-oaymwEjCOgCEMoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&amp;rs=AOn4CLCNg7eISQ4qEYdMj3IipdYqPc9d2A" alt="" srcset="">
            <div class="albumplay" onclick='playSong("{{ forloop.counter0 }}","{{ playlist.2 }}")'><img
                    src="https://cdn.discordapp.com/attachments/768083738848133130/769476261181128734/image_1.png"
                    alt=""></img></div>
        </div>
        <span class="label albumtitle bond-to-two-lines">MOHA &amp; Irma &amp; MEQQ - ily (Magic Cover Release)</span>
        <span class="label albumauthor bond-to-two-lines">By Magic Music</span>
    </div>
        </div>
    </div>

    <div class="theme">
        <h2>Hot</h2>
        <div class="cardContainer">
    <div class="card c1">
        <div class="albumcover">
            <img class="albumimg" src="https://i.ytimg.com/vi/J3DahMkR5Sg/hq720.jpg?sqp=-oaymwEjCOgCEMoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&amp;rs=AOn4CLCNg7eISQ4qEYdMj3IipdYqPc9d2A" alt="" srcset="">
            <div class="albumplay" onclick='playSong("{{ forloop.counter0 }}","{{ playlist.2 }}")'><img
                    src="https://cdn.discordapp.com/attachments/768083738848133130/769476261181128734/image_1.png"
                    alt=""></img></div>
        </div>
        <span class="label albumtitle bond-to-two-lines">MOHA &amp; Irma &amp; MEQQ - ily (Magic Cover Release)</span>
        <span class="label albumauthor bond-to-two-lines">By Magic Music</span>
    </div>
    <div class="card c1">
        <div class="albumcover">
            <img class="albumimg" src="https://i.ytimg.com/vi/J3DahMkR5Sg/hq720.jpg?sqp=-oaymwEjCOgCEMoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&amp;rs=AOn4CLCNg7eISQ4qEYdMj3IipdYqPc9d2A" alt="" srcset="">
            <div class="albumplay" onclick='playSong("{{ forloop.counter0 }}","{{ playlist.2 }}")'><img
                    src="https://cdn.discordapp.com/attachments/768083738848133130/769476261181128734/image_1.png"
                    alt=""></img></div>
        </div>
        <span class="label albumtitle bond-to-two-lines">MOHA &amp; Irma &amp; MEQQ - ily (Magic Cover Release)</span>
        <span class="label albumauthor bond-to-two-lines">By Magic Music</span>
    </div>
    <div class="card c1">
        <div class="albumcover">
            <img class="albumimg" src="https://i.ytimg.com/vi/J3DahMkR5Sg/hq720.jpg?sqp=-oaymwEjCOgCEMoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&amp;rs=AOn4CLCNg7eISQ4qEYdMj3IipdYqPc9d2A" alt="" srcset="">
            <div class="albumplay" onclick='playSong("{{ forloop.counter0 }}","{{ playlist.2 }}")'><img
                    src="https://cdn.discordapp.com/attachments/768083738848133130/769476261181128734/image_1.png"
                    alt=""></img></div>
        </div>
        <span class="label albumtitle bond-to-two-lines">MOHA &amp; Irma &amp; MEQQ - ily (Magic Cover Release)</span>
        <span class="label albumauthor bond-to-two-lines">By Magic Music</span>
    </div>
    <div class="card c1">
        <div class="albumcover">
            <img class="albumimg" src="https://i.ytimg.com/vi/J3DahMkR5Sg/hq720.jpg?sqp=-oaymwEjCOgCEMoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&amp;rs=AOn4CLCNg7eISQ4qEYdMj3IipdYqPc9d2A" alt="" srcset="">
            <div class="albumplay" onclick='playSong("{{ forloop.counter0 }}","{{ playlist.2 }}")'><img
                    src="https://cdn.discordapp.com/attachments/768083738848133130/769476261181128734/image_1.png"
                    alt=""></img></div>
        </div>
        <span class="label albumtitle bond-to-two-lines">MOHA &amp; Irma &amp; MEQQ - ily (Magic Cover Release)</span>
        <span class="label albumauthor bond-to-two-lines">By Magic Music</span>
    </div>
        </div>
    </div>
    
</div>

<script>
    const sliders = document.getElementsByClassName('cardContainer');
    let isDown = false;
    let startX;
    let scrollLeft;
    for (let ind=0; ind<sliders.length; ind++){
        let slider = sliders[ind];
        slider.addEventListener('mousedown', (e) => {
          isDown = true;
          slider.classList.add('dragging');
          startX = e.pageX - slider.offsetLeft;
          scrollLeft = slider.scrollLeft;
        });
        slider.addEventListener('mouseleave', () => {
          isDown = false;
          slider.classList.remove('dragging');
        });
        slider.addEventListener('mouseup', () => {
          isDown = false;
          slider.classList.remove('dragging');
        });
        slider.addEventListener('mousemove', (e) => {
          if(!isDown) return;
          e.preventDefault();
          const x = e.pageX - slider.offsetLeft;
          const walk = (x - startX) * 1; //scroll-fast
          slider.scrollLeft = scrollLeft - walk;
        //   console.log(walk);
    });
    }
</script>
{% include 'player.html'%} {% endblock %}
