    <div class="playbar">
      <div class="currplay">
        <div class="currimg">
          <img src="" alt="" id="currimg">
        </div>
        <h5 id="currsong">The Kill</h5>
        <h6 id="currauthor">Thirty Seconds To Mars</h6>
    </div>
      <div class="control">
        <div class="playOptions">
            <div onclick="lastSong()" class="mainicons">
                <img class="mainicons"
                    src="https://cdn.discordapp.com/attachments/768083738848133130/773142728145371146/skip-back.svg"
                    alt=""></img></div>
            <div id='playicon' class="mainicons playicon" onclick="start(),toggleplayicon()">
                <img class="mainicons playicon"
                    src="https://cdn.discordapp.com/attachments/768083738848133130/773142731144560640/play-circle.svg"
                    alt=""></img></div>

            <div id='pauseicon' class="mainicons playicon" onclick="stop(),togglepauseicon()">
                <img class="mainicons playicon"
                    src="https://cdn.discordapp.com/attachments/768083738848133130/773873949082910751/pause-circle.svg"
                    alt=""></img></div>
            <div class="mainicons" onclick="nextSong()">
                <img class="mainicons"
                    src="https://cdn.discordapp.com/attachments/768083738848133130/773142729714696212/skip-forward.svg"
                    alt=""></img></div>
        </div>
        <div class="progress">
          <span id="currtime">0:00</span>
          <div>
            <input
              id="progressBar"
              class="range-slider__range"
              type="range"
              value="0"
              min="0"
              max="100"
              oninput="setTime()"
            />
          </div>
          <span id="endtime">0:00</span>
        </div>
      </div>
      <div class="vol">
        <img id="vol-icon" class="mainicons" src="https://cdn.discordapp.com/attachments/768083738848133130/773921822492065843/v2.png" alt="">
        <div id='volume' class="range-slider">
            <input id='volumeBar' oninput="setVolume()" class="range-slider__range" type="range" value="30" min="0"
                max="250">
        </div>
      </div>

      <script>
      const audioPlayer = new Audio('../static/music/YOASOBI_Official_Music_Video_128_kbps.mp3');
        function start() {
          setVolume();
          // <!-- audioPlayer.setAttribute('src', '../static/music/YOASOBI_Official_Music_Video_128_kbps.mp3'); -->
          // audioPlayer.load();
          audioPlayer.play();

          var playicon = document.getElementById('playicon');
          playicon.style.display = 'none';
        }

        function stop() {
          audioPlayer.pause();
        }

        function toggleplayicon() {
          var playicon = document.getElementById('playicon');
          playicon.style.display = 'none';
          var pauseicon = document.getElementById('pauseicon');
          pauseicon.style.display = 'block'
        }

        function togglepauseicon() {
          var pauseicon = document.getElementById('pauseicon');
          pauseicon.style.display = 'none';
          var playicon = document.getElementById('playicon');
          playicon.style.display = 'block'
        }

        function setVolume() {
          const volume = document.getElementById('volumeBar');
          var setvalue = volume.value/500;
          audioPlayer.volume = setvalue;
          // console.log(setvalue);
        }

        function setTime(){
          audioPlayer.currentTime = 66;
          const time = document.getElementById('progressBar').value;
          settime = time / 100;
          songtime = audioPlayer.duration;
          audioPlayer.currentTime = songtime * settime;
          console.log(audioPlayer.duration);
          console.log(audioPlayer.currentTime);
        }

        function time_convert(num){
          var minutes = Math.floor(num / 60);  
          var seconds = num % 60;
          if(seconds < 10){
            seconds = "0" + seconds.toString();
          }
          return minutes + ":" + seconds;         
        }

        setInterval(function () {
          curr = audioPlayer.currentTime;
          percentage = (curr / audioPlayer.duration) * 100;
          var progressBar = document.getElementById('progressBar');
          progressBar.value = percentage;
          console.log(progressBar.value);

          var endtime = document.getElementById('endtime');
          endtime.innerHTML = time_convert(Math.round(audioPlayer.duration));

          var currtime = document.getElementById('currtime');
          currtime.innerHTML = time_convert(Math.round(audioPlayer.currentTime));
        }, 250);

        function playsong(id,songname,author) {
          audioPlayer.load();
          audioPlayer.setAttribute('src', '../static/song/' + id + '.mp3')
          setVolume();
          audioPlayer.play()
          toggleplayicon();
          var currsong = document.getElementById('currsong');
          currsong.innerHTML = songname;
          var currauthor = document.getElementById('currauthor');
          currauthor.innerHTML = author;
          var img = document.getElementById('currimg');
          img.setAttribute('src','../static/image/' + id + '.png');
        }

        function init() {
          audioPlayer.setAttribute('src', '../static/song/1.mp3')
          var img = document.getElementById('currimg');
          img.setAttribute('src','../static/image/1.png');
          var currsong = document.getElementById('currsong');
          currsong.innerHTML = 'アイドル';
          var currauthor = document.getElementById('currauthor');
          currauthor.innerHTML = 'YOASOBI';
        }

        function nextSong() {
          var id = getID();
          id = Number(id);
          id = id + 1;
          if(id >= 20){
            id = 1;
          }else if(id < 1){
            id = 20;
          }
          
          var name;
          var author;
          axios.get('http://127.0.0.1:5500/api/song/getID?id='+ id)
            .then((res) => {
              name = res['data'][0]['name'];
              author = res['data'][0]['artist']
              console.log(name);
              console.log(author);
              playsong(id,name,author);
          });

        }

        function lastSong() {
          var id = getID();
          id = Number(id);
          id = id - 1;
          if(id >= 20){
            id = 1;
          }else if(id < 1){
            id = 20;
          }

          var name;
          var author;
          axios.get('http://127.0.0.1:5500/api/song/getID?id='+ id)
            .then((res) => {
              console.log(res['data'][0]['artist']);
              name = res['data'][0]['name'];
              author = res['data'][0]['artist']
          });

          playsong(id,name,author);
        }
        

        function getID() {
          var idstr = audioPlayer.currentSrc;
          arr = idstr.split('/');
          var id = arr[arr.length - 1];
          id = id.substr(0,id.search('.mp3'));
          console.log(id); 
          return id;         
        }
      </script>
    </div>

